Binaries
DerivedDataCache
Intermediate
Saved
Developer
.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
GAS_Example.sln.DotSettings.user
/Content/__ExternalActors__/ThirdPerson/Maps
/Content/__ExternalActors__/VehicleTemplate/Maps
/Content/__ExternalObjects__/ThirdPerson/Maps
/Content/__ExternalObjects__/VehicleTemplate/Maps
/Package
/Build
